<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>  
</div>
<div class="components">
    <image-async [url]="urlImage">
      <div class="thumb-overlay">
        <div class="sk-folding-cube">    
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
      </div> 
    </image-async>
  
    <image-async [url]="urlImage2">
      <img src="../assets/loading.gif" alt="">
    </image-async>  
</div>